:root{
    --dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--purple: #5e7ef1;
	--blue: #5cdcf6;
	--light: #EEE;
}

*{
    margin:0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task{
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#in{
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#in::placeholder{
    color:var(--grey)
}

#submit {
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	color: var(--blue);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--blue), var(--purple));
	cursor: pointer;
	transition: 0.4s;
}

#submit:hover {
	opacity: 0.8;
}

#submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
}

h2{ 
    text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

ul {
    list-style: none;
}


ul li {
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    padding: 1rem;
    background: var(--darker);
    font-size: 1.25rem;
    transition: 0.2s;
    border-radius: 1rem;

    color:  var(--light);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(even) {
    background: var(--darker);
}

ul li:hover {
    background: var(--darkest);
}

ul li.checked {
    background: var(--grey);
    color: var(--dark);
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    color: black;
}
  
.close:hover {
    background-color: rgba(246, 93, 124, 0.99);
    border-radius: 1rem;
    color: white; 
}
